h1{
    color: brown;
}

span{
    color: blue;
}

.Refundable{
    color: red;
}  

body{
    background-color: aliceblue ;
}

#fName{
    background-color:lightgoldenrodyellow;
}

.bidder{
    background-color:cadetblue
}

#ufName{
    background-color:lightgoldenrodyellow;
}

 .Verification{
    background-color:blueviolet;
 }

 .buttonPrint{
    background-color: gray;
 }

.buttonReset{
    background-color:grey ;
}

.buttonhome{
    background-color:grey ;
}


























